data/schemas/ATLAS1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="HI">
		<xs:complexType>
			<xs:attribute name="description" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LO">
		<xs:complexType>
			<xs:attribute name="description" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="R1">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Synchro-Resolver Rotor Connection 1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="R2">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Synchro-Resolver Rotor Connection 2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="S1">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Four-wire Resolver Stator Connection 1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="S2">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Four-wire Resolver Stator Connection 2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="S3">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Four-wire Resolver Stator Connection 3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="S4">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Four-wire Resolver Stator Connection 4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ac">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="by">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dc">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="to">
		<xs:complexType>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="H"/>
						<xs:enumeration value="Ohm"/>
						<xs:enumeration value="V"/>
						<xs:enumeration value="X"/>
						<xs:enumeration value="dBm"/>
						<xs:enumeration value="deg"/>
						<xs:enumeration value="pct"/>
						<xs:enumeration value="s"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="0"/>
						<xs:enumeration value="0.10000000000000001"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="100"/>
						<xs:enumeration value="1000"/>
						<xs:enumeration value="2.0E7"/>
						<xs:enumeration value="2.65E10"/>
						<xs:enumeration value="359.89999999999998"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="4.0E10"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="50"/>
						<xs:enumeration value="500000"/>
						<xs:enumeration value="6.0E6"/>
						<xs:enumeration value="720"/>
						<xs:enumeration value="8.3000000000000007"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="acceleration">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="s"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="VIA">
		<xs:complexType>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Series Type or Port Connection"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cnx">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="R1"/>
					<xs:element ref="R2"/>
					<xs:element ref="S1"/>
					<xs:element ref="S2"/>
					<xs:element ref="S3"/>
					<xs:element ref="S4"/>
				</xs:sequence>
				<xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="HI"/>
						<xs:element ref="LO"/>
					</xs:sequence>
					<xs:element ref="VIA"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="from">
		<xs:complexType>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="H"/>
						<xs:enumeration value="Ohm"/>
						<xs:enumeration value="V"/>
						<xs:enumeration value="X"/>
						<xs:enumeration value="dBm"/>
						<xs:enumeration value="deg"/>
						<xs:enumeration value="pct"/>
						<xs:enumeration value="s"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="-1"/>
						<xs:enumeration value="-100"/>
						<xs:enumeration value="-5"/>
						<xs:enumeration value="-60"/>
						<xs:enumeration value="-720"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="0.01"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="1.0E7"/>
						<xs:enumeration value="100000"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="47"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="acceleration">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="s"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="atlas">
		<xs:complexType>
			<xs:attribute name="noun">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AC SIGNAL"/>
						<xs:enumeration value="DEVICE"/>
						<xs:enumeration value="IMPEDANCE"/>
						<xs:enumeration value="PASS THRU GATING"/>
						<xs:enumeration value="PULSED DC"/>
						<xs:enumeration value="RESOLVER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="function">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EXT"/>
						<xs:enumeration value="FM"/>
						<xs:enumeration value="INT"/>
						<xs:enumeration value="PULSED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noun_modifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ANGLE"/>
						<xs:enumeration value="ANGLE-RATE"/>
						<xs:enumeration value="CIRCULATE"/>
						<xs:enumeration value="COUPLING"/>
						<xs:enumeration value="DC-OFFSET"/>
						<xs:enumeration value="DUTY-CYCLE"/>
						<xs:enumeration value="FREQ"/>
						<xs:enumeration value="FREQ-DEV"/>
						<xs:enumeration value="MOD-FREQ"/>
						<xs:enumeration value="MODE"/>
						<xs:enumeration value="POWER"/>
						<xs:enumeration value="PRF"/>
						<xs:enumeration value="REF-SOURCE"/>
						<xs:enumeration value="RES"/>
						<xs:enumeration value="SAMPLE-AV"/>
						<xs:enumeration value="SOURCE-IDENTIFIER"/>
						<xs:enumeration value="SPEED-RATIO"/>
						<xs:enumeration value="SWEEP-TIME"/>
						<xs:enumeration value="VOLTAGE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noun_description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Alternating Current Signal"/>
						<xs:enumeration value="Impedance"/>
						<xs:enumeration value="Pass Thru Gating"/>
						<xs:enumeration value="Pulsed Direct Current Signal"/>
						<xs:enumeration value="Resolver"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="function_description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="External"/>
						<xs:enumeration value="Frequency Modulation"/>
						<xs:enumeration value="Internal"/>
						<xs:enumeration value="Pulsed Modulation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noun_modifier_suffix">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="P"/>
						<xs:enumeration value="PP"/>
						<xs:enumeration value="REF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noun_modifier_description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Angle of Rotation"/>
						<xs:enumeration value="Angle of Rotation Rate"/>
						<xs:enumeration value="Circulate"/>
						<xs:enumeration value="Coupling"/>
						<xs:enumeration value="Direct Current Offset"/>
						<xs:enumeration value="Duty Cycle"/>
						<xs:enumeration value="Frequency"/>
						<xs:enumeration value="Frequency Deviation"/>
						<xs:enumeration value="Mode"/>
						<xs:enumeration value="Modulation Frequency"/>
						<xs:enumeration value="Number of Periods to Average"/>
						<xs:enumeration value="Power"/>
						<xs:enumeration value="Pulse Repetition Frequency"/>
						<xs:enumeration value="Resistance"/>
						<xs:enumeration value="Source Indentifier"/>
						<xs:enumeration value="Source Reference Voltage"/>
						<xs:enumeration value="Speed Ratio"/>
						<xs:enumeration value="Sweep Time"/>
						<xs:enumeration value="Voltage"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="range">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641"/>
				<xs:element ref="from"/>
				<xs:element ref="to"/>
				<xs:choice minOccurs="0">
					<xs:element ref="continuous"/>
					<xs:element ref="by"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="number">
		<xs:complexType>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="H"/>
						<xs:enumeration value="V"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:enumeration value="1.0E7"/>
						<xs:enumeration value="11.800000000000001"/>
						<xs:enumeration value="115"/>
						<xs:enumeration value="26"/>
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ranges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="range" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="control">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="ranges"/>
					<xs:element ref="settings"/>
					<xs:element ref="modifier_functions"/>
				</xs:sequence>
				<xs:element ref="noun_modifiers"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="numbers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="number" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="setting">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641"/>
				<xs:element ref="numbers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="function">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="setting" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="channel_a">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="channel_b">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="functions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="function" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hard_copy">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ieee_1641">
		<xs:complexType>
			<xs:attribute name="bsc">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=",Triangle"/>
						<xs:enumeration value="AM,FM,PM"/>
						<xs:enumeration value="Constant"/>
						<xs:enumeration value="FM"/>
						<xs:enumeration value="Load"/>
						<xs:enumeration value="SignalDelay"/>
						<xs:enumeration value="Sinusoid,Modulator,Filter"/>
						<xs:enumeration value="TimedEvent"/>
						<xs:enumeration value="UNKNOWN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tsf">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AC_SIGNAL"/>
						<xs:enumeration value="PULSED_DC_SIGNAL"/>
						<xs:enumeration value="RESOLVER"/>
						<xs:enumeration value="UNKNOWN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bsc_library">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CASS"/>
						<xs:enumeration value="standard"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tsf_library">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CASS"/>
						<xs:enumeration value="standard"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bsc_attribute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="In"/>
						<xs:enumeration value="UNKNOWN"/>
						<xs:enumeration value="amplitude"/>
						<xs:enumeration value="dutyCycle"/>
						<xs:enumeration value="frequency,carrierFrequency,centerFrequency"/>
						<xs:enumeration value="period"/>
						<xs:enumeration value="rate"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="page_size">
		<xs:complexType>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ll"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="24"/>
						<xs:enumeration value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="capability">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="settings"/>
					<xs:element ref="ranges"/>
					<xs:element ref="modifier_functions" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="line_length"/>
					<xs:element ref="page_size"/>
					<xs:element ref="hard_copy" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="ranges"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cnx"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="continuous">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="instrument">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas_sources"/>
				<xs:element ref="require_types"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="control"/>
						<xs:element ref="capability" minOccurs="0"/>
						<xs:element ref="connection"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="capability"/>
						<xs:element ref="connection" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="connection"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AWFG"/>
						<xs:enumeration value="CRT"/>
						<xs:enumeration value="DMM"/>
						<xs:enumeration value="HPSG"/>
						<xs:enumeration value="MCI"/>
						<xs:enumeration value="PRT"/>
						<xs:enumeration value="SGMA"/>
						<xs:enumeration value="SSSA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="system_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AWFGA"/>
						<xs:enumeration value="AWFGA#02"/>
						<xs:enumeration value="AWFGA#03"/>
						<xs:enumeration value="AWFGB"/>
						<xs:enumeration value="CRT"/>
						<xs:enumeration value="DMM"/>
						<xs:enumeration value="HPSG2"/>
						<xs:enumeration value="MCI"/>
						<xs:enumeration value="PRT"/>
						<xs:enumeration value="SGMA#01"/>
						<xs:enumeration value="SGMA#02"/>
						<xs:enumeration value="SGMA#03"/>
						<xs:enumeration value="SSSA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="virtual_label" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AWG2A"/>
						<xs:enumeration value="AWG3A"/>
						<xs:enumeration value="AWGA"/>
						<xs:enumeration value="AWGB"/>
						<xs:enumeration value="CRT"/>
						<xs:enumeration value="DMM-RES"/>
						<xs:enumeration value="HPMTA_POWER"/>
						<xs:enumeration value="HPMTA_POWER_P"/>
						<xs:enumeration value="HPSG2"/>
						<xs:enumeration value="MCI"/>
						<xs:enumeration value="PRINTER"/>
						<xs:enumeration value="SGMA01_RES_GEN"/>
						<xs:enumeration value="SGMA02_RES_MEAS"/>
						<xs:enumeration value="SGMA03_RES_MEAS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class_description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Arbitrary Waveform Generator"/>
						<xs:enumeration value="Cathode Ray Tube"/>
						<xs:enumeration value="Digital Multimeter"/>
						<xs:enumeration value="Frequency Synthesizer"/>
						<xs:enumeration value="Microwave Transition Analyzer"/>
						<xs:enumeration value="Modulation Control Interface"/>
						<xs:enumeration value="Printer"/>
						<xs:enumeration value="Synchro Generator/Measurement"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="instruments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="instrument" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="line_length">
		<xs:complexType>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="atlas_source">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1008"/>
						<xs:enumeration value="1047"/>
						<xs:enumeration value="464"/>
						<xs:enumeration value="481"/>
						<xs:enumeration value="500"/>
						<xs:enumeration value="526"/>
						<xs:enumeration value="603"/>
						<xs:enumeration value="680"/>
						<xs:enumeration value="757"/>
						<xs:enumeration value="827"/>
						<xs:enumeration value="840"/>
						<xs:enumeration value="878"/>
						<xs:enumeration value="916"/>
						<xs:enumeration value="962"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="file" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2053as220.as"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="verb" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="REQUIRE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="file_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="program"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="line_number" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="127"/>
						<xs:enumeration value="132"/>
						<xs:enumeration value="137"/>
						<xs:enumeration value="143"/>
						<xs:enumeration value="154"/>
						<xs:enumeration value="165"/>
						<xs:enumeration value="176"/>
						<xs:enumeration value="190"/>
						<xs:enumeration value="193"/>
						<xs:enumeration value="200"/>
						<xs:enumeration value="207"/>
						<xs:enumeration value="215"/>
						<xs:enumeration value="223"/>
						<xs:enumeration value="231"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="statement_number" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="120"/>
						<xs:enumeration value="125"/>
						<xs:enumeration value="127"/>
						<xs:enumeration value="145"/>
						<xs:enumeration value="15"/>
						<xs:enumeration value="155"/>
						<xs:enumeration value="165"/>
						<xs:enumeration value="175"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="35"/>
						<xs:enumeration value="40"/>
						<xs:enumeration value="45"/>
						<xs:enumeration value="50"/>
						<xs:enumeration value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="require_type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="I-O"/>
						<xs:enumeration value="OUTPUT"/>
						<xs:enumeration value="SENSOR"/>
						<xs:enumeration value="SOURCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="atlas_sources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas_source"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noun_modifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="channel_a"/>
						<xs:element ref="channel_b"/>
					</xs:sequence>
					<xs:element ref="continuous"/>
					<xs:element ref="functions"/>
					<xs:element ref="dc"/>
					<xs:element ref="ac"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="require_types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="require_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atlas_requires">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="instruments"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="program_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2053as220.as"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="noun_modifiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="noun_modifier" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modifier_function">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atlas"/>
				<xs:element ref="ieee_1641"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="modifier_functions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modifier_function"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
