data/schemas/ATMLDemo2DigitalPatterns.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Generated with newWaveX Signal Development  (http://www.newWaveX.com) --><xs:schema targetNamespace="ATMLDemo2DigitalPatterns" elementFormDefault="qualified" version="0.2" xmlns="urn:IEEE-1641:2010:STDBSC" xmlns:xs="http://www.w3.org/2001/XMLSchema">	<xs:import namespace="urn:IEEE-1641:2010:STDBSC" schemaLocation="STDBSC.xsd"/>	<xs:annotation>		<xs:documentation>Set of digital patterns for use with ATML demo</xs:documentation>	</xs:annotation>	<xs:element name="InitTest1" nillable="false">		<xs:annotation>			<xs:documentation>Set of digital patterns for use with ATML demo</xs:documentation>		</xs:annotation>		<xs:complexType mixed="false">			<xs:complexContent mixed="false">				<xs:extension base="SignalFunctionType"/>			</xs:complexContent>		</xs:complexType>	</xs:element>	<xs:element name="D00" nillable="false">		<xs:annotation>			<xs:documentation>Writes out 0x00 D7-0</xs:documentation>		</xs:annotation>		<xs:complexType mixed="false">			<xs:complexContent mixed="false">				<xs:extension base="SignalFunctionType"/>			</xs:complexContent>		</xs:complexType>	</xs:element>	<xs:element name="DFF" nillable="false">		<xs:annotation>			<xs:documentation>Writes out 0xFF D7-0</xs:documentation>		</xs:annotation>		<xs:complexType mixed="false">			<xs:complexContent mixed="false">				<xs:extension base="SignalFunctionType"/>			</xs:complexContent>		</xs:complexType>	</xs:element>	<xs:element name="D80" nillable="false">		<xs:annotation>			<xs:documentation>Writes out 0x80 D7-0</xs:documentation>		</xs:annotation>		<xs:complexType mixed="false">			<xs:complexContent mixed="false">				<xs:extension base="SignalFunctionType"/>			</xs:complexContent>		</xs:complexType>	</xs:element></xs:schema>