ATMLLibraries/ATMLManagerLibrary/Resources/XMLMimeTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="thead">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="th">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="nowrap" type="xs:string" use="required" />
                            <xs:attribute name="style" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tbody">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="tr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="td">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="a">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="title" type="xs:string" use="required" />
                                  <xs:attribute name="href" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required" />
      <xs:attribute name="style" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>